@tailwind base;
@tailwind components;
@tailwind utilities;

/* Iniciando a configuração */

@layer base {
  :root {
    --color-background: #f5f5f5;

    /* =======================================
       BACKGROUNDS
   ======================================= */
    --background: 0 0 96%;
    --background-primary-500: 234 58 24%;
    --background-primary-400: 210 29 24%;
    --background-white: 0 0 100%;

    /* =======================================
       Textos
   ======================================= */

    --text-primary-500: 234 58 28%;
    --text-primary-400: 210 29 24%;
    --text-primary-300: 209 26 32%;

    --text-secondary: 0 0 33%;
    --text-white: 0 0 80%;

    --neltral: 204 8 76%;

    --details-green: 158 64 52%;
    --details-red: 158 64 52%;

    /* =======================================
       Imputs
      ======================================= */
    --input-bg: 216 33 97%;
    --input-border: 0 0 88%;
    --input-border-focus: 158 64 52%;

    --input-text-icon: 0 0 100%;
    --input-bg-icon: 158 64 52%;

    /* =======================================
       Imputs
      ======================================= */

    --notification-error: 6 78 57%;
    --notification-success: 145 63 49%;
    --notification-warn: 217 91 60%;

    /* =======================================
       
      ======================================= */
  }
}

/* Finalizando a configuração */

body {
  background-color: var(--color-background);
  color: hsl(var(--text-secondary));
  font-family: "Inter", sans-serif;
}
